{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Index</a>
		<a href="/about" class="menu__item">About</a>
		<a href="/work" class="menu__item">Work</a>
		<a href="https://twitter.com/girldevilpit" class="menu__item">Twitter</a>
		<a href="http://jamhands.bandcamp.com" class="menu__item">Music</a>
		<a href="http://abigailyoung.bigcartel.com" class="menu__item">Shop</a>
	</div>
</nav>